*{
    margin: 0px;
    padding: 0px;

}
body,html{
    margin:0px;
    padding: 0px;    
}
nav{
    position: relative;
    text-align: right;
    top:0px;
    width:100%;
    align-items: center;
    line-height: 60px;
    height:70px;
    background-color: rgb(98, 109, 206);;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    z-index: 1;
   
}
nav {
    display: inline-block;
    list-style-type: none;
    padding: px;
    font-size: 20px; 
}

.menu a{
    list-style-type: none;
    text-decoration: none;
    display: inline;
    padding:20px;
    color: #fff;
    margin: 0 10px;
    line-height: 70px;
    transition: 0.5s ease-in;
}


 
  label{
      margin: 0 40px 0 0;
      font-size: 25px;
      line-height: 60px;
      color: #000;
      display: none;
      
  }

  #toggle{
      display:none ;
      margin: 0px;
  }

.active{
    font-weight: bold;
    color: #2d2a2a;
} 
.menu a:hover{
            
     color:#000;
 }

/* the front view for the sliding images*/
.container{
    
    width: 100%;
    height: 500px;
    background-color: black;
       
}
.container3{
    margin-top: 120px;
}
.container3 h2{
    justify-content: center;
    text-align: center;
    font-size: 35px;
}

.maindiv{
    width: 80%;
    height:450px;
    margin: 0 auto;
    background-image: url(images/1.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: slider 20s linear infinite;
   
    
}
.maindiv h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: white;
    font-size: 30px;
    
}
@keyframes slider {
    0%{background-image: url('images/1.jpg');background-size: 100% 100%;}
    35%{background-image: url('images/2.jpg');background-size: 100% 100%;}
    75%{background-image: url('images/3.jpg');background-size: 100% 100%;}
}

/* slider section*/

.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: -10px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }



.slider-box{
    background-color: rgb(17, 16, 16);
    width:250px;
    height: 350px;
    margin:0 20px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
 .swiper-slide{
     width: 250px !important;
 }

.time{
    color: #fff;
    position: absolute;
    font-size: 18px;
    top: 0px;
    right: 20px;
    font-weight: 500;
}
.slider-box a{
    text-decoration: none;
    text-align: center;
}
.img-box{
    margin-top: 10px;
    height: 200px;
    
}
.img-box img{
    
    max-width: 100%;
    max-height: 100%;
}
.detail{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: orangered;
    line-height: 25px;
    font-weight: 600;
}
.price{
    color:#fff;
    font-size: 18px;
}
.cart{
    position: absolute;
    font-size: 18px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    bottom: 0;
}
.cart a {
    color: #ffff;
}
.slider-box:hover{
    transform: translate();
    box-sizing: 2px 2px 12px (47, 47, 47, 0.7);
}
 .img-box img:hover{
     transform: scale(1.02);
     transition: all ease 0.3s;
 }
 .cart:hover{
     transform: scale(1.01);
     background-color: rgb(255, 166, 0);
     box-shadow: 12px 12px 10px rgba(47, 47 47, 0.7);
     transition: all ease 1.3s;
 }

/*end of slider section*/

.showcase{
    margin-top: 20px;
    width:80%;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: orchid;
}
.casehead{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.features{
    width:40%;
    float: left;
    background-color: purple;
    color: white;

}
.features img{
    width: 50%;
    justify-content: center;
    margin: 100px 100px;

}

.description{
    width: 50%;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    line-height: 30px;
    padding: 100px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
}

/*showing for newtop*/
.newtop{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-color: royalblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}
.arrival h3{
    padding: 20px;
    font-size: 25px;
    margin-left: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
 



/* Footer section*/
.all{
    margin-top: 20px;
    padding-top: 50px;
    width: 100%;
    height:300px ;
    display: grid;
    color: yellow;
    background-color: #000;
    grid-template-columns: repeat(3, 1fr);
}

.footer-contact{
    margin-top: 0px;
    color: #fff;
    height: 100%;
    width: 100%;
      
}


.footer .social {
    display: inline-block;
    background-color:#fff;
    color: #000;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.footer .social:hover{
    width: 200px;
}
.footer .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;      
}
.footer .icon i{
    font-size: 25px;
   display: inline-block
    
}
.footer .icon:nth-child(1):hover{
    
    background:#3b5999;
    color: #fff;
    
}

.footer .icon:nth-child(3){
    background-color:#e4405f;
    color: white;
}

.footer .icon:nth-child(4){
    background-color:#dd4b39;
    color: white;
}


.footer span{
    line-height: 60px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
}


.footer-home{
    padding: 4px;
    margin-right: 100px;
}
.footer-form{
    display: flex;
    flex-direction: column;
    padding: 4px;
}



.footer .logo h2{
    color:#fff;
    font-size: 30px;
    background: #0b0b9b;
    border:4px outset;
    width:250px;
    height: 40px;
    padding:1px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    
}
.footer-home p:nth-child(2){
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    
}
.footer-home p:nth-child(3){
color: #fff;
margin-top: 20px;
font-size: 18px;
}

input{
    padding: 10px;
    margin-top: 10px;
    width:300px;
}
.sign{
    width:100px;
    position: relative;
    flex-direction: column;
    margin-top: 30px;
    background-color:#603f83ff ;
    color: #fff;
    font-size: 18px;

}


.footer-bottom{
    color:white;
    background-color:rgb(27, 26, 26);
    width:300%;/*something is wrong here*/
    height: 40px;
    padding-top: 10px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 100px;

}


@media screen and (max-width:600px){
    .container{
    
        
        height: 350px;
    }

    label{
        display: block;
        cursor: pointer;
        float: right;
        line-height: 70px;
       
    }
    label:hover{
        color:#fff;
    }
    #toggle{
        display: none;
    }
    .menu {
        text-align: center;
        width: 90%;
        height: 100%;
        display: none;
        box-sizing: border-box;   
    }
    .maindiv{
        width: 90%;
        height:300px;
    }
    .maindiv h2{
        font-size: 18px;
        width: 100%;
        justify-content: center;
        color: #fff;
        text-align: center;
    }
    .container3{
        margin-top: 40px;
    
    }
    
    .container3 h2{
        font-size: 25px;
    }
    .slider-box{
        margin-top: 30px;
    }
     .menu a{
         clear: right;
        display: block;
        border: 1px solid rgb(44, 1, 44);
        background-color: #000;  
    
     }
     .menu a:hover{
        color:rgb(22, 25, 216);
     }

     #toggle:checked + .menu{
         display: block;
     }
     .showcase{ 
        margin-top: 20px;
        width:100%;
        position: relative;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: ;
        background-color: orchid;
        display: none;
    }
    
    .features {
        background-color: transparent;
    }
    .features img{
        width: 300px;
    }
    
    .description{
        width: 500px;
        margin-left: -80px;
        margin-top: -190px;
        position: relative;
        flex-direction: column;
       
        font-size: 18px;
        color: #000;
    }

    .description::after{
        content: "";
        display: inline-block;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-left: 50px;
    }

    .newtop{
        display:grid;
        height: auto;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
    }
    .arrival h3{
        justify-content: center;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        font-weight: 900;
        gap: 10px;
    }
    .arrival img{
        margin: 10px; 
        justify-content: center;
        align-content: center;
    }

    .all{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 600px;
        justify-content: center;
        align-items: center;

    }
    .logo{
        margin: px;
    }

    .footer-contact{
        margin-top: 0px;
    
    }
    .footer .icon{
        display: inline-block;
        height: 50px;
        width: 50px;
        position: relative;
        line-height: 50px;
        align-content: center;
        justify-content: center;
    }
    .footer span{
        line-height: 60px;
        margin-left: 10px;
        font-size: 16px;
        align-content: center;
        justify-content: center;
    }
    .footer-home{
        justify-content: center;
        align-content: center;
    }
    .footer-form{
        justify-content: center;
        align-content: center;
    }

    .footer .icon i{
        font-size: 20px;
       margin: 0 5px;
    }
    .footer .social:hover{
        width: 150px;
    }

    label .foorm{
        color: orange;
    }
    #min{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    #password{
        margin-left: 0px;

    }
    .footer-bottom{
        position: relative;
        margin-top: -20px;
        width:70%;/*something is wrong here*/
    }
}

@media screen and (max-width:400px){
    .newtop{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .arrival h3{
        font-size: 23px;
    }
    .arrival img{
        display: grid;
        justify-content: center;
        align-content: center;
        justify-content: center;
        gap: 5px;
        
    }
    .all{   
        margin-top: 0px;
        height: 600px;
    }
    .footer-contact{
        margin-left: 3px;
    }
    .footer-home{
        margin-top: 20px;
        margin-left: 5px;
    }
    .footer-form{
        margin-top: 20px;
        margin-left: 5px;
    }
    .footer-bottom{
        margin-top: 100px;
        width: 100%;
    }
}





